<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <h1>Welcome</h1> 
    {% for projects in myprojects %}
        <h2>{{projects.title}}</h2>
        <h3>{{projects.description}}</h3>
        <img src="{{projects.image.url}}" alt="">
        {% if projects.url %}
            <a href="{{projects.url}}">{{projects.url}}</a>
        {% endif %}
    {% endfor %}
</body>
</html>